*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li,
ul {
    list-style-type: none;
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 320px) {
    .container {
        max-width: 320px;
        padding: 0 ;
    }
}


@media (min-width: 750px) {
    .container {
        max-width: 750px;
        padding: 0 15px;

    }
}


@media (min-width: 1170px) {
    .container {
        max-width: 1170px;
        padding: 0 15px;
    }
}