/* ALL COLORS */
$black: #000;
$white: #fff;
$skidkiColor: #d81f24;
$blue: #5e81a7;
$hoverColor: #84c604;
$greenColor: #1fba0a;
$orangeColor: #fd4f10;
$iconColor: #bacada;
$redColor: #bb1f24;
$boxColor: #489705;
$titleColor: #32505a;
$footerColor: #1a2d34;
$bgSocial: #8d969a;
$grey: rgb(192, 191, 191);
$hits: #e14c3c;
$greyBtn: rgba(192, 191, 191, 0.226);
