.rolls{
    padding: 0 0 50px 0;
    &-caption {
        text-align: center;
        padding: 50px 0;
        @include font-family('Lemons', 44px, $titleColor);
        font-weight: normal;
        line-height: 28.43px;
    }
    .rolls-slider{
        .rolls-slider__item{
            position: relative;
            margin: 5px 10px;
            border-radius: 10px;
            box-shadow: 0 0 5px $black;
            .item__picture{
                @include flex(row,center,center);
                .picture__fire{
                   @include pos-right(5%, 9%);
                   padding: 8px 11px;
                   border-radius: 50%;
                   background: $hits;
                   color: $white;
                   span{
                       font-size: 22px;
                   }
                }
            }
            .item__text{
                text-align: center;
                .text__title{
                    margin: 10px 0;
                    text-align: center;
                    span{
                        @include font-family('Open Sans', 20px, $black);
                        font-weight: 700;
                        line-height: 28.43px;
                       
                    }
                }
                .text__number{
                    margin: 10px 0;

                    span {
                        @include font-family('Open Sans', 12px, $black);
                        font-weight: 300;
                        line-height: 20px;
                        border-right: 1px solid $black;
                        padding: 0 5px;
                    }

                    span:nth-child(3) {
                        border: none;
                    }
                }
            }
            .text__costs{
                @include flex(row,space-evenly,center);
                margin: 10px 0;
                width: 100%;
                .cost{
                    @include font-family('Roboto Slab', 22px, $black);
                    font-weight: 700;
                    line-height: 28.43px;
                    span{
                        font-weight: 28.43px;
                        font-weight: normal;
                        @include font-family('Myriad', 12px, $black);
                    }
                }
                .price{
                    @include font-family('Myriad', 14px, $black);
                            font-weight: 28.43px;
                    span {
                        font-size: 11px;
                        margin: 0 10px;
                    }
                }
            }
            .text__box{
                padding: 25px 0;
                @include flex(row, center, center);
                a{
                    input[type=checkbox] {
                        display: none;
                    }

                    label {
                        padding: 13px 25px;
                        background: $orangeColor;
                        border-radius: 5px;
                        cursor: pointer;

                        span {
                            @include font-family('Open Sans', 14px, $white);
                            line-height: 28.43px;
                            text-transform: uppercase;
                            background: $orangeColor;
                            margin: 0 0 0 5px;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }
}